.keynote {
    margin-bottom: 40px;
    .bio .inner {
        background-color: $color-blue;
        color: $color-white;
        padding: 20px 10px;
        height: 457.5px;
        small { 
            display: block;
            font-family: $font-mono;
            margin: 0 0 15px;
            text-align: center;
            text-decoration: underline; 
        }
        h3 { 
            font-family: $font-bold;
            margin: 0 0 5px; 
        }
        h4 { margin: 0 0 5px; }
    }
}

.tagline {
    font-size: 24px;
    font-family: $font-bold;
    color: $color-blue;
}