.keynote {
    margin-bottom: 40px;
    background-color: $color-blue;
    color: $color-white;
    overflow: auto;
    .bio {
        padding: 20px 10px;
        small { 
            display: block;
            font-family: $font-mono;
            margin: 0 0 15px;
            text-align: center;
            text-decoration: underline; 
        }
        h3 { 
            font-family: $font-bold;
            margin: 0 0 5px; 
        }
        h4 { margin: 0 0 5px; }
    }
}

.tagline {
    font-size: 24px;
    font-family: $font-bold;
    color: $color-blue;
}

@media (min-width: $screen-sm-min) {
    .keynote {
        img {
            float: left;
            width: 60%;
        }
        .bio {
            width: 40%;
            float: left;
        }
    }
}
